.template_section{
    background-color: #F4F4F9;
    padding-bottom: 40px;
    padding-top: 7px;
}

.template_top{
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.responses {
    margin-left: 180px;
}

.responses button {
    background-color: #202124;
    color: #F4F4F9;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.responses button:hover{
    background-color: #fff;
    color: #202124;
    transition: ease-in-out 0.2s;
}

.template_right{
    display: flex;
}

.gallery_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    font-size: 14px;
}

.template_body{
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.card{
    margin-left: 20px;
    margin-top: 15px;
    background-color: #F4F4F9;
}

.card1{
    margin-left: 20px;
    margin-top: 33px;
    background-color: #F4F4F9;
}

.card_image{
    box-sizing: border-box;
    height: 120px;
    width: 140px;
    cursor: pointer;
    border-radius: 2px;
    border-width: 0.2px solid #FFFDF7;
}

.card_image:hover{
    border: 1px solid #6E2594;
}

.card_title1{
    margin-left: 20px;
    font-size: 14px;
    margin-top: 2px;
    color: #202124;
    font-weight: 500;
}

.card_title{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 14px;
    margin-top: 2px;
    color: #202124;
    font-weight: 500;
}

